body{
    font-family:"Microsoft YaHei";
    margin:0 auto;
	color:white;
    background:url(../image/back.jpg) no-repeat center top;
}


*{

	font-family:"Microsoft YaHei";
}
/*	font-size:14px;
*/	




html{
	font-family:"yahei"; 
	box-sizing: border-box;
}
/*.div1{ 
	position:fixed;
	top:0; 
	left:0; 
	bottom:0; 
	right:0; 
	z-index:-1; 
} 
.div1 img { 
	
	height:760px; 
	border:0; 

}    */

.page {
     width:1200px;
	 height:2000px;
	 margin:0 auto;
     border:0;

	 }
.top{
      width:1200px;
	  height:88px;
	 /* background-color:gray;*/
      margin:0; padding:0£»
}

.lgo{
	
	width:82px;
	height:88px;
	/*display:inline-block;*/
	/*background-color:red;*/
	margin:0;padding:0;
	float:left;
	}
	 
.lgo img{
	width:64px;
	height:64px;
	margin-top:12px;
	margin-right:18px;

     }
.title1{
	 width:450px;
     height:88px;
	 /*display:inline-block;*/
	/* background-color:yellow;*/
	 margin:0;padding:0;
	 float:left;
	}
.title1 span{
	 font-size:24px;
	 font-family:"Microsoft YaHei";
	 float:left;
	 margin-top:28px;
	 padding:0;
	 color:white;
	/* background-color:blue;*/
	 }

.share{
	/*text-align:right;*/
	height:88px;
	float:right;
	display:inline-block;
	color:white;
   /* background-color:green;*//
	}
.share img {
     width:36px;
	 height:36px;
	 margin-left:6px;
	 margin-top:28px;
	 display: inline-block;
	 border:none;
	 }
.share a{
     color:red;
	 text-decoration:none;
	 /*margin-top:34px;*/
	  /*vertical-align:middle;*/
	  float:left;
	 line-height:90px;
	 }
.share span{
	 float:left;
	 line-height:90px;
	 margin-left:26px;
	 }
.left-up{
	height:500px;
	width:248px;
	margin:0;border:0;
	/*background-color:silver;*/
	float:left;
	}

.left1{
	width:248px;
	height: 180px;
	margin:0 0 8px 0;
	border:0;
	background-color:black;
	}
.left1 span{
	margin-left:20px;
	line-height:44px;
	color:white;
}
.left1 a img{
	border:none;
}
.left2{
	width:248px;
	height:312px;
	margin:0;
	/*background-color:silver;*/
	 background-color: #1E212B;
	 background: rgba(14, 10, 22,0.5) ;
	 filter:alpha(opacity=30); 
}

.tab-name{
	height:30px;
	margin:0;
    padding: 14px 0 0 20px;
    background: black;
    font-size: 14px;
	color:white;
	list-style: none;
	position:relative;
}

.tab.active{
	margin:0 30px 0 6px;
    padding-bottom:9px;
    cursor:pointer;
	color:#2194Ef;
	border-bottom:2px solid #2194ef;
}

.tab{
	margin:0 30px 0 6px;
    padding-bottom:9px;
    cursor:pointer;
	
}


.container{
	height: 244px;
    width: 237px;
    /* background-color: yellow; */
    overflow-y: auto;
    margin: 10px 0 10px 10px;
    position:relative;
	}

.container::-webkit-scrollbar {
        width:10px;
        height:10px;

    }
   .container::-webkit-scrollbar-button    {
        background-color:#423b40;
    }
   .container::-webkit-scrollbar-track     {
        background:#423b40;
    }
    .container::-webkit-scrollbar-track-piece {
        background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);
    }
    .container::-webkit-scrollbar-thumb{
        background:#31303a;
        border-radius:4px;
    }
    .container::-webkit-scrollbar-corner {
        background:#496495;
    }
/*   .container::-webkit-scrollbar-resizer  {
        background:#FF0BEE;
    }*/
.lists
{
    height: 98px;
    width: 195px;
    margin: 16px 0 0 18px;
    border-bottom: 1px solid #6a6464;
}


.list1-left{
	width:56px;
	height:90px;
	display:inline-block;
	margin: 2px;
}
.list1-left img{
	width: 55px;
    height: 55px;
}
.list1-left p{
    line-height: 20px;
    height: 20px;
    width: 50px;
    background-color: #0976D5;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 9px;
    text-align: center;
    vertical-align: middle;
}

.list1-right{
	font-size: 12px;
    line-height: 24px;
    display: inline-block;
    width: 120px;
    margin-left: 8px;
    color:white;
    vertical-align: top;
}
.chairman-name{
	font-size:16px;
	line-height: 4px;
}
.chariman-inf{
    line-height: 21px;
}

.vadios{
    height: 30px;
    width: 100px;
    color: white;
    margin: 14px 0 0 13px;
    font-size: 15px;
}

.middle-up{
	height:500px;
	width:700px;
	margin:0 8px 0 8px;border:0;
	background-color:#3C3445;
	float:left;
	 background: rgba(14, 10, 22, 0.5) ;
	 filter:alpha(opacity=30); 
	 position:relative;
	}
.start-date{
	color:white;
	font-size:26px;
	margin:54px 0 0 180px;
	position:relative;
}
#lefttime{
	color:white;
	font-size:24px;
	margin:22px 0 32px 180px;
	position: relative;
	}
#lefttime span{
    display: inline-block;
	line-height: 42px;
	width:40px;
	height:42px;
	text-align:center;
	margin:0 5px;
	background-color:#5A5A5A;
}
.midform{
	margin:7px 0 0 100px;
	color:#EFEFEF;
	position:relative;
	}
.midform span{
	vertical-align: middle;
}
/*.midinput{
	width: 218px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
}*/

#in_name{
	width: 242px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
	font-size:15px;
	padding-left:8px;
	outline: none;
	vertical-align: middle;
}



/*.midselect{
	width: 116px;
    height: 39px;
    margin-left: 8px;
	border: 0;
	font-family:"Microsoft YaHei";
}*/

#in_gender{
	width: 93px;
    height: 39px;
    margin-left: 8px;
	border: 0;
	font-family:"Microsoft YaHei";
	outline: none;
	vertical-align: middle;
	padding:10px 0;
}

/*
.midinput2{
	width: 347px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
}
*/
#in_teleph{
	width: 347px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
	font-size:15px;
	padding-left:8px;
	outline: none;
	vertical-align: middle;
}


#in_email{
	width: 347px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
	font-size:15px;
	padding-left:8px;
	outline: none;
	vertical-align: middle;
}


#in_major{
	width: 242px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
	font-size:15px;
	padding-left:8px;
	outline: none;
	vertical-align: middle;
}


#in_edu{
	width: 93px;
    height: 39px;
    margin-left: 8px;
	border: 0;
	font-family:"Microsoft YaHei";
	outline: none;
	vertical-align: middle;
	padding:10px 0;
}


#in_school{
	width: 347px;
    height: 38px;
    margin-left: 16px;
	border: 0;
	font-family:"Microsoft YaHei";
	font-size:15px;
	padding-left:8px;
	outline: none;
	vertical-align: middle;

}

#button1{
	width: 355px;
    height: 38px;
    margin: 8px 0 0 16px;
    border: 0;
	font-size: 19px;
    background-color: #2194EF;
    color: white;
   	font-family:"Microsoft YaHei";
   	cursor: pointer;
   	position:relative;
}

.right-up{
	height:500px;
	width:236px;
	margin:0;border:0;
	float:left;
	background-color: #1E212B;
	background: rgba(14, 10, 22,0.5) ;
	filter:alpha(opacity=30); 
    position: relative;

	}

.right1{
    height: 44px;
    width: 236px;
    margin: 0;
    background-color: #000308;
    position:relative;
}
.right1 span{
	color:white;
	line-height:44px;
	margin-left:20px;
}
#right_chat{
	height: 456px;
    width: 236px;
	margin: 0;
	padding: 0;
	/*background-color: red;*/
}
#right_login_box{
	/*height: 456px; */
    width: 236px;
    /* padding: 50% 1px; */
    padding-bottom: 50% 1px;
    padding-top: 180px;
     position:relative;
}
	

#right_login_box p{
	margin-left: 13px;
    font-size: 15px;
    margin: 0px 0 10px 12px;
}    

#right_chat_box{
	height: 456px;
	width:236px;
	margin: 0;
	padding: 0;
}
#chat_name_in{
	height: 29px;
    width: 155px;
    margin: 0 0 0 8px;
    border: 0;
    padding-left: 7px;
    font-family: "Microsoft YaHei";
    vertical-align: middle;
    outline: none;
}
#button_chatname{
    height: 31px;
    width: 54px;
    background-color: #2194EF;
    color: white;
    font-family: "Microsoft YaHei";
    border: 0;
    vertical-align: middle;
}
#right2{
	height:418px;
	width:236px;
	overflow-y: auto;
	list-style: none;
	margin:0;
	padding:0;
	position:relative;
}
#right2::-webkit-scrollbar {
        width:10px;
        height:10px;
        
    }
#right2::-webkit-scrollbar-button    {
        background-color:#423b40;
}
#right2::-webkit-scrollbar-track     {
        background:#423b40;
}
#right2::-webkit-scrollbar-track-piece {
        background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);
}
#right2::-webkit-scrollbar-thumb{
        background:#31303a;
        border-radius:4px;
}
    .container::-webkit-scrollbar-corner {
        background:#496495;
}
/*   .container::-webkit-scrollbar-resizer  {
        background:#FF0BEE;
    }*/
.chats{
    height:auto;
	width:190px;
	margin-left:14px;
	margin-top:14px;
	border-bottom:1px solid #6a6464;
   
}
.jiabin{
	height:20px;
	width:46px;
	margin:0 8px 0 0;
	background-color:#FF8C02;
	border-radius: 9px;
    line-height: 20px;
    text-align: center;
	display:inline-block ;
}
.zhuchiren{
	height:20px;
	width:60px;
	margin:0 8px 0 0;
	background-color:#0D7BDD;
	border-radius: 9px;
    line-height: 20px;
    text-align: center;
	display:inline-block ;
}
.xuesheng{
	height:20px;
	width:auto;
	color:#2194EF;
	margin:0 8px 0 0;
	line-height: 20px;
    text-align: center;
	display:inline-block ;
}
.time-right{
	margin:12px 0 14px 0;
	color:#848484;
	font-size:12px;
}
.right3{
	height:36px;
	width:240px;
	position:relative;
	/*background-color:green;*/
}
#send_right{
	width:169px;
	height:36px;
	border:0;
	font-family:"Microsoft YaHei";
	padding-left: 8px;
	outline: none;
	vertical-align: middle;

}
#button2{
	width: 58px;
    height: 38px;
	border:0;
	background-color: #2194EF;
    color: white;
   	font-family:"Microsoft YaHei";
   	cursor: pointer;
   	vertical-align: middle;
}
.main{
	width:764px;
	height:1000px;
	/*background-color:silver;*/
	margin:63px 108px 0 0;
	border:0;
	float:left;
}
.main-introduce{
	height:auto;
	width:764px;
	margin:0px 0 40px 0 ;
	/*border:1px solid red;*/
}
.introduce-title{
	width:764px;
	height:30px;
	border-bottom:1px solid #EBEBEA;
	color:#333134;
	font-size:20px;
}
.introduce-title span{
	border-bottom:2px solid #318FD8;
	padding-bottom: 3px;
}
.introduce-content{
	width: 764px;
    font-size: 14px;
    color: #8E8E8E;
    margin: 24px 0 0 0;
}
.question{
	    height: auto;
    width: 764px;
    margin: 0px 0 6px 0;
    /* border: 1px solid red; */
}
.question-title{
	width:764px;
	height:30px;
	border-bottom:1px solid #EBEBEA;
	color:#747475;
	font-size:20px;
}
.question-title span{
	border-bottom:2px solid #318FD8;
	padding-bottom: 3px;
}
.question-text-tab{
	width:764px;
	height:128px;
	background-color:#F7F7F7;
	margin-top: 24px;
}
#textarea1{
	height:66px;
	width:736px;
	margin:12px 14px 0 12px;
	font-size:14px;
	/*color:#adadad;*/
	background-color:#ffffff;
	font-family:"微软雅黑";
	padding-left: 8px;
	outline: none;
	resize:none;
	overflow:auto;
}

#input_name{
	margin: 4px 0 0 12px;
	padding-left: 8px;
    font-size: 14px;
    height: 27px;
    font-family:"微软雅黑";
  
    outline: none;

}
#button3{
	height: 36px;
    width: 84px;
    line-height: 36px;
    color: white;
    font-family: inherit;
    font-size: 14px;
    float: right;
    background-color: #2797ef;
    outline: none;
    border: none;
    margin: 3px 10px 0 0;
    cursor: pointer;
}
#answer{
	height:auto;
	width:764px;
	margin:0;
	padding:0;
	list-style:none;
    
	
}
#ask-answer{
	height: auto;
    width: 764px;
    margin: 15px 0 0 0;
    color: #ADADAD;
    border-bottom: 1px solid #e7e7e7;

}
.ask{
	    width: 28px;
    height: 28px;
    font-size: 18px;
    color: white;
    background-color: #FA8708;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    margin: 0 5px 0 0;
    /* float: left; */
}

.ask-text{
	width: 720px;
    height: auto;
    margin: 0 0 0 5px;;
    line-height: 26px;
    /* float: right; */
    display: inline-block;
    /* border-bottom: 1px solid #e8dedd; */
    vertical-align: top;
	
}
.asker{
	color:#F5954D;
	margin-right:5px;
}
.ask-time{
	font-size: 12px;
    color: #CECECE;
    margin: 8px 0 16px 0;
}
.answer-big{
	width: 733px;
    height: auto;
    margin-left: 30px;
    padding-top: 10px;
    line-height: 26px;
    /* float: right; */
    display: inline-block;
    border-top: 1px solid #e7e7e7;
   
}
.answer-da{
	width: 28px;
    height: 28px;
    font-size: 18px;
    color: white;
    background-color: #2194EF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    margin: 0 5px 0 0;
    float: left;
}
.answerer{
	color:#2194EF;
	margin-right:5px;
}
.answer-text{
	height: auto;
    width: 695px;
    margin: 0;
    color: #ADADAD;
	float: right;
}
.ask-two{
	width: 722px;
    height: auto;
    margin: 0;
    line-height: 26px;
    float: right;
    display: inline-block;

}
.ask-answer2{
	height: 102px;
    width: 764px;
    margin: 20px 0 0 0;
    color: #ADADAD;
    border-bottom: 1px solid #e7e7e7;
}
#bottom-button{
	height:40px;
	width:740px;
	margin:50px auto;
	text-align: center;
	/*background-color: yellow;*/
}


.pages{
	height:35px;
	width:35px;
	border:1px solid #DDDCDF;
	color:#848484;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	outline: none;
	margin: 0 2px;
}

.pages.active{
	height:35px;
	width:35px;
	background-color:#52636D;
	border:0;
	color:white;
	font-family: inherit;
	cursor: pointer;
	outline: none;
	margin: 0 2px;
}
#pagespre{
	height:35px;
	width:64px;
	border:1px solid #DDDCDF;
	color:#848484;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	outline: none;
    margin: 0 2px;
}
#pagesnext{
	height:35px;
	width:64px;
	border:1px solid #DDDCDF;
	color:#848484;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	outline: none;
    margin: 0 2px;
}
.dian{
	color: #060607;
}
.right{
	width:328px;
	height:990px;
	margin:73px 0 0 0;
	border:0;
	float:right;
}
.right-first{
	width: 328px;
	height:160px;
	border-bottom:1px solid #e8dedd;
}

.right-title{
	width: 328px;
    font-size: 18px;
    color: #333134;
    border-left: 4px solid #2A98F0;
    padding-left: 8px;
}
.right-p{
	width: 328px;
    font-size: 14px;
    color: #686872;
    line-height: 23px;
    margin: 22px 0 24px 0;
}

.right-second{
	width: 328px;
	height:142px;
	border-bottom:1px solid #e8dedd;
	margin-top:28px;
}
.right-p2{
	width: 328px;
    font-size: 14px;
    color: #3aa0f3;
   	text-decoration:underline;
	margin: 22px 0 0 0;

}
.right-p3{
	width: 328px;
    font-size: 14px;
    color: #686872;
    margin: 8px 0 0 0;
}
.flow{
	width: 328px;
	height:214px;
	border-left:1px solid #EFEFEF;
}
.right-third{
	width: 328px;
	height:142px;
	margin-top:28px;
}
.time-line-text{
	margin:20px 0 0 10px;
	font-size:14px;
	line-height:18px;
	color:#5F5E60;
}

.point1{
 	position: relative;
    top: 88px;
    left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background-color: #BFBDBF;
}
.point2{
 	position: relative;
    top: 134px;
    left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background-color: #BFBDBF;
}
.point3{
 	position: relative;
    top: 181px;
    left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background-color: #BFBDBF;
}
.page_foot{
	width: 100%;
    height: 28px;
    bottom: 0;
    background-color: #4a4a4a;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    position: fixed;
    
}